#canvas {
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#menu {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 180px;
  width: 400px;
  text-align: center;
}

#menu > p {
  color: gray;
}